@font-face {
    font-family: Anton;
    src: url(../fonts/Anton-Regular.ttf);
}
@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: Lobster;
    src: url(../fonts/Lobster-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}
body {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 75px;
    background-color: #272727;
    color: blue;
}
header .title {
    margin: 0 0 0 25px;
    line-height: 75px;
    font-size: 26px;
    color: #F3F2E9;
    font-family: Lobster;
    letter-spacing: 2px;
}
main {
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
}
main .section {
    width: 35%;
    height: 50vh;
    /* height: calc(100vh - 50px); */
    /* padding: 25px; */
}
main .info h3{
    text-decoration: underline;
    font-size: 40px;
    font-family: Lobster;
    letter-spacing: 2px;
    color: #634975;
    margin-left: 20px;
}
main .section .sub-section {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    margin-bottom: 25px;
}
main .section .sub-section .boxes {
    margin: 5px;
    height: 50px;
    width: 450px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px grey;
    display: flex;
    flex-flow: row;
    text-align: center;
    justify-content: space-evenly;
    background-image: linear-gradient(120deg,rgb(13, 178, 180, 0.8),rgb(57, 7, 56, 0.8));
}
main .section .sub-section .boxes h4 {
    font-size: 20px;
    font-family: Anton;
    letter-spacing: 2px;
    margin: auto;
    color: #F3F2E9;
    vertical-align: middle;
}
main .section .sub-section .boxes p {
    font-size: 18px;
    font-family: Lato;
    margin: auto;
    text-transform: uppercase;
    text-decoration: underline;
    color: #F3F2E9;
    vertical-align: middle;
}
main .section p {
    font-size: 20px;
    font-family: Lato;
    font-weight: bold;
    margin-left: 22px;
    color: #634975;
}
#myChart1{
    width: 100% !important;
    height: 100% !important;
}
#myChart2{
  margin:auto;
    width: 90% !important;
    height: 100% !important;
}
#monthly-stats{
  margin-top: 25px 0;
  text-align: center;
  font-family: Lato;
  color: #928A97;
}
@media (max-width: 1385px) {
  main .section {
        padding-left: 20px;
  }
    main {
        position: relative;
        margin-top: 75px;
        display: flex;
        flex-flow: column;
    }
    main .graph {
        margin-top: 20px;
        width: 90%;
    }
  }

@media (max-width: 960px) {
    main {
        flex-flow: column;
    }
    main .info .sub-section {
        display: flex;
        flex-wrap: wrap;
    }
    main .info h3 {
        margin-top: 0;
    }
}
